.ourPhilosophy {
  padding-top: 20px;
  padding-bottom: 20px;
  .ourPhilosophyCont {
    color: #737373;
    i {
      font-weight: 600;
    }
    p {
      color: #737373;
      margin-bottom: 25px;
    }
    ul {
      padding-left: 1.92857rem;
      li {
        position: relative;
        line-height: 1.4;
        margin-bottom: 10px;
        color: #737373;
        &:before {
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #138e55;
          display: block;
          position: absolute;
          left: -25px;
          top: 4px;
        }
      }
    }
  }
}
.ourMission {
  background-color: #138e55;
  .ourMissionImgSec {
    width: 50%;
    min-width: 50%;
    img {
      display: block;
    }
  }
  .ourMissionContSec {
    width: 50%;
    min-width: 50%;
    .missContainer {
      width: 100%;
      max-width: 462px;
      color: #fff;
      margin: auto;
    }
  }
}
