.contactUs {
  padding-top: 1.42857rem;
  color: #737373;
  .contactUsCont {
    .w-50 {
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}
.contactUsDetails_Sec {
  padding-top: 0.571428rem;
  padding-bottom: 3.142857142857143rem;
  color: #737373;
  .contactUsDetails {
    .border-right {
      border-right: 1px solid #ccc;
      @media (max-width: 768px) {
        border: 0;
      }
    }
    .contactAddress {
      max-width: 18.57rem;
      width: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
      @media (max-width: 766px) {
        max-width: none;
      }
      h6 {
        font-weight: 600;
        font-size: 1.142857rem;
        color: #515151;
        padding-bottom: 2.142857142857143rem;
        padding-top: 2.142857142857143rem;
      }
      p {
        margin-bottom: 0;
        padding-bottom: 2.142857142857143rem;
      }
      .line {
        width: 3.5714rem;
        height: 2px;
        background-color: #ffd27a;
        display: block;
        margin: auto;
      }
    }
    .contectUsForm_sec {
      max-width: 306px;
      width: 100%;
      margin: auto;
      @media (max-width: 766px) {
        max-width: none;
      }
      h6 {
        font-weight: 600;
        font-size: 1.142857rem;
        color: #515151;
        padding-bottom: 2.142857142857143rem;
        text-align: center;
        @media (max-width: 768px) {
          padding-top: 2.142857142857143rem;
        }
      }
      .contectUsForm {
        .fromGroup {
          margin-bottom: 1.2857rem;
          .form_control {
            min-height: 32px;
            border: 1px solid #cac8c8;
            border-radius: 0.35714rem;
            width: 100%;
            padding: 0.35714rem 0.7142857rem;
          }
          textarea.form_control {
            height: 84px;
          }
        }
        .inputGroup {
          @media (max-width: 765px) {
            .form_control {
              &:first-child {
                margin-bottom: 1.2857rem;
              }
            }
          }
          @media (min-width: 766px) {
            display: flex;
            .form_control {
              &:first-child {
                border-radius: 0.35714rem 0 0 0.35714rem;
                border-right: 0;
              }
              &:last-child {
                border-radius: 0 0.35714rem 0.35714rem 0;
              }
            }
          }
        }
        button {
          width: 150px;
          height: 38px;
          background-color: #138f54;
          border-radius: 0.35714rem;
          margin: 0 auto;
          color: #fff;
          text-transform: capitalize;
          display: block;
        }
      }
    }
    @media (max-width: 768px) {
      .row {
        flex-wrap: wrap;
      }
      .col-6 {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
.contectUsSucess {
  display: none;
}
