.contactUs {
  padding-top: 1.42857rem;
  color: $text-base;
  .contactUsCont {
    &>div:first-child {
            font-size: 1.4rem;

            i {
                color: #f9bd14;
                font-weight: 600;

            }
        }
    .w-50 {
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}
.contactUsDetails_Sec {
  padding-top: 0.571428rem;
  padding-bottom: 3.142857142857143rem;
  color: $text-base;
  .contactUsDetails {
    .border-right {
      border-right: 1px solid #ccc;
      @media (max-width: 768px) {
        border: 0;
      }
    }
    .contactAddress {
      max-width: 18.57rem;
      width: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
      @media (max-width: 766px) {
        max-width: none;
      }
      h6 {
        font-weight: 600;
        font-size: 1.142857rem;
        color: $text-base;
        padding-bottom: 0.5rem;
        padding-top: 2.142857142857143rem;
      }
      p {
        margin-bottom: 0;
        padding-bottom: 2.142857142857143rem;
        /*a {
          color: $text-base;
        }*/
      }
      .line {
        width: 3.5714rem;
        height: 2px;
        background-color: #ffd27a;
        display: block;
        margin: auto;
      }
    }
    .contectUsForm_sec {
      max-width: 306px;
      width: 100%;
      margin: auto;
      @media (max-width: 766px) {
        max-width: none;
      }
      h6 {
        font-weight: 600;
        font-size: 1.142857rem;
        color: $text-base;
        padding-bottom: 2.142857142857143rem;
        text-align: center;
        @media (max-width: 768px) {
          padding-top: 2.142857142857143rem;
        }
      }
      .contectUsForm {
        .fromGroup {
          margin-bottom: 1.2857rem;
          .form_control {
            min-height: 32px;
            border: 1px solid #cac8c8;
            border-radius: 0.35714rem;
            width: 100%;
            padding: 0.35714rem 0.7142857rem;

            &.error::placeholder { color: red; }
          }
          textarea.form_control {
            height: 84px;
            &.error { color: red; }
          }
          label {
            padding-top: 7px;
            margin-bottom: 00;
            color: red;
          }
        }
        .inputGroup {
          @media (max-width: 765px) {
            .inputform_control {
              &:first-child {
                .form_control {
                  margin-bottom: 1.2857rem;
                }
              }
            }
          }
          @media (min-width: 766px) {
            display: flex;
            .inputform_control {
              &:first-child {
                .form_control {
                  border-radius: 0.35714rem 0 0 0.35714rem;
                  border-right: 0;
                }
              }
              &:last-child {
                .form_control {
                  border-radius: 0 0.35714rem 0.35714rem 0;
                }
              }
            }
          }
        }
        button {
          width: 150px;
          height: 38px;
          background: #138f54;
          border: 2px solid  #138f54;
          border-radius: 0.35714rem;
          margin: 0 auto;
          color: #fff;
          text-transform: capitalize;
          display: block;
          cursor: pointer;
          transition: background 0.3s ease, color 0.3s ease;
          &:hover {
            background: transparent;
            color: #138f54;
          }
        }
      }
    }
    @media (max-width: 768px) {
      .row {
        flex-wrap: wrap;
      }
      .col-6 {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
.contectUsSucess {
  display: none;
}
