header {
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;

    @media (max-width: 991px) {
        z-index: 1;
    }

    .topHeader {
        background-color: #ffffff;
        height: 80px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        box-shadow: 0px 1px 9px 2px #b8bfc3;

        .leftHeader {
            display: flex;
            align-items: center;
        }

        .rightHeader {
            /*width: calc(100% - 167px);*/
            width: auto;
            display: flex;
            align-items: center;

            nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 25px;

                @media (max-width: 991px) {
                    position: absolute;
                    background: #fff;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: calc(100vh - 80px);
                    flex-direction: column;
                    padding-left: 0;
                    border-top: 1px solid #eee;
                    border-bottom: 1px solid #eee;

                    &:not(.open) {
                        display: none;
                    }


                }

                .nav_blk {
                    display: flex;

                    @media (max-width: 991px) {
                        flex-direction: column;
                        width: 100%;
                    }

                    >li {
                        position: relative;

                        &:after {
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            content: '';
                            width: 0;
                            background: $secondary;
                            height: 4px;
                            display: inline-block;
                            transform: translate(-50%, 0);
                            transition: width 0.3s ease;

                            @media (max-width: 991px) {
                                position: relative;
                                left: unset;
                                width: 5px;
                                transform: translate(0, 0) rotate(135deg);
                                bottom: unset;
                                display: inline-block;
                                height: 5px;
                                background: none;
                                border: 2px solid #f9bd14;
                                border-color: #f9bd14 #f9bd14 transparent transparent;
                                margin: 0 0 0 10px;
                                top: -2px;
                            }
                        }

                        &.active:after,
                        &:hover:after {
                            width: 100%;

                            @media (max-width: 991px) {
                                width: 5px;
                            }
                        }

                        a {
                            display: block;
                            padding: 2rem 1.7143rem;
                            /*border-bottom: 4px solid transparent;*/
                            text-decoration: none;
                            color: $text-two;
                            font-size: 1.143rem;
                            font-weight: 600;
                            position: relative;

                            @media (max-width: 1180px) {
                                padding: 2.2rem 1rem;
                            }

                            @media (max-width: 991px) {
                                padding: 1rem;
                                text-align: center;

                                width: auto;
                                display: inline-block;
                                font-size: 1.2rem;

                                /* margin: 0 0 0 20px; */

                            }


                        }




                        &:hover {
                            a {
                                /*border-color: $secondary;*/
                            }
                        }

                        ul {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            background: #fff;
                            width: 200%;
                            padding: 0;
                            /*height: 0;*/
                            overflow: hidden;
                            display: none;
                            box-shadow: 0 3px 4px rgb(0 0 0 / 50%);

                            @media (max-width: 991px) {
                                position: relative;
                                top: unset;
                                margin: 0 0 0 20px;
                                padding: 0 0 20px;
                                display: block;
                                height: auto;
                            }

                            a {
                                padding: 1rem 1.7143rem;
                                display: inline-block;

                                &:after {
                                    width: 50px;
                                    left: unset;
                                    transform: translate(0, 0);
                                    position: relative;
                                    display: block;
                                    height: 2px;
                                    margin: 4px 0 0;
                                    content: '';
                                    border: none;
                                    background: #f9bd14;
                                    transition: width 0.3s ease;

                                    @media (max-width: 991px) {
                                        border: none;
                                        background: #f9bd14;
                                    }
                                }

                                &:hover:after {
                                    width: 100%;
                                }
                            }
                        }

                        &:nth-child(2) {
                            ul {

                                width: 150%;

                                @media (max-width: 991px) {
                                    width: 100%;
                                }
                            }
                        }

                        &:nth-child(3),
                        &:nth-child(4) {
                            @media (max-width: 991px) {
                                a:after {
                                    display: none;
                                }
                            }
                        }


                    }
                }

                .socialNav_blk {
                    display: flex;
                    display: none;

                    @media (max-width: 991px) {
                        justify-content: center;
                    }

                    >li {
                        padding: 0 5px;

                        a {
                            display: block;
                            line-height: 1;
                        }
                    }
                }
            }

            .hamburgar {
                width: 30px;
                height: 20px;
                margin-left: auto;
                cursor: pointer;
                flex-direction: column;
                display: none;
                position: relative;


                @media (max-width: 991px) {
                    display: flex;
                }

                span {
                    height: 2px;
                    width: 100%;
                    background-color: #000;
                    /* margin: 3px 0; */
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 0;
                    transition: transform 0.3s ease, opacity 0.2s ease, top 0.3s ease, left 0.3s ease;

                    &:first-child {
                        top: 0;
                    }

                    &:last-child {
                        top: calc(100% - 2px);
                    }
                }

                &.open {

                    span {
                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:nth-child(1),
                        &:nth-child(3) {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(45deg);
                        }

                        &:nth-child(3) {
                            transform: translate(-50%, -50%) rotate(-45deg);
                        }
                    }
                }

            }
        }
    }

    .logo {
        display: flex;
        justify-content: flex-end;

        img {
            max-width: 100%;

            // @media (max-width: 767px) {
            //   max-height: 26px;
            // }
        }
    }
}