.ourExpertiseSec {
    overflow: hidden;
    padding-top: 3rem;

    @media (max-width: 768px) {
        padding-top: 5rem;
    }

    .title {
        img {
            position: absolute;
            left: 5%;
            top: -4.57143rem;

            @media (max-width: 768px) {
                top: -5.77143rem;
                width: 8rem;
            }
        }

        h4 {
            margin-bottom: 0.7143rem;
            color: #515151;
        }
    }

    .container {
        position: relative;
    }

    .ourExpertiseCont {
        padding-left: 6.42857rem;
        padding-right: 6.42857rem;
        color: $text-base;
        line-height: 1.5;

        &>div:first-child {
            font-size: 1.4rem;

            i {
                color: #f9bd14;
                font-weight: 600;

            }
        }

        @media (max-width: 768px) {
            padding-left: 1.42857rem;
            padding-right: 1.42857rem;
        }

        @media (max-width: 575px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .accordianSec {
        border-top: 0.142857rem solid #515151;
        border-bottom: 0.142857rem solid #515151;
        margin-bottom: 4.2857rem;

        .accordianHeader {
            background: #ededed;
            color: #515151;
            padding: 2.57143rem 2.2857rem;
        }

        .accordianData {
            padding-left: 11.7857rem;
            display: flex;
            color: $text-base;
            padding-bottom: 3.57143rem;

            @media (max-width: 991px) {
                padding-left: 0;
            }

            @media (max-width: 768px) {
                flex-direction: column;
            }

            .acdLeft {
                display: flex;
                flex-direction: column;
                width: 50%;
                min-width: 50%;
                position: relative;

                @media (max-width: 768px) {
                    width: 100%;
                }

                &:before {
                    content: "";
                    display: block;
                    top: 0;
                    left: 0;
                    width: 3.57142857rem;
                    height: 0.571429rem;
                    background-color: #ffd27a;

                    @media (max-width: 991px) {
                        display: none;
                    }
                }

                ul {
                    display: flex;
                    padding: 2.14286rem 0;
                    border-bottom: 0.07142857rem solid #138f54;
                    margin-bottom: 2.2857rem;
                    flex-wrap: wrap;

                    @media (max-width: 991px) {
                        padding: 1.54286rem 0;
                    }

                    li {
                        padding: 0 1.642857rem;
                        position: relative;
                        margin: 0 0 10px;
                        width: auto;

                        @media (max-width: 991px) {
                            padding: 0 1.142857rem;
                        }

                        &:before {
                            content: "";
                            width: 0.5rem;
                            height: 0.5rem;
                            border-radius: 50%;
                            background-color: #138e55;
                            display: block;
                            position: absolute;
                            left: 0rem;
                            top: 0.142857rem;
                        }
                    }
                }

                p {
                    margin-bottom: 2.142857rem;
                    line-height: 1.4;
                }

                .continueReading {
                    text-align: center;

                    strong {
                        color: #138e55;
                    }
                }
            }

            .acdRight {
                display: flex;
                flex-direction: column;
                width: 50%;
                min-width: 50%;
                padding-left: 1.57143rem;

                @media (max-width: 768px) {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 10px;
                }

                p {
                    line-height: 1.4;
                }

                .acdrHeader {
                    border-top: 0.142857rem solid #ffd27a;
                    border-bottom: 0.07142857rem solid #138f54;
                    padding-top: 1.7143rem;
                    padding-bottom: 1.7143rem;
                    text-align: center;
                    margin-top: 1.2857rem;
                    background-color: #fffaf0;

                    @media (max-width: 991px) {
                        margin-top: 0;
                        padding-top: 1.5143rem;
                        padding-bottom: 1.5143rem;
                    }
                }

                .acdrContent {
                    padding-top: 2.2857rem;
                    padding-bottom: 1.7143rem;
                    padding-left: 1.2857rem;
                    padding-right: 1.2857rem;
                    background-color: #fffaf0;

                    ul {
                        margin-top: 1.07143rem;

                        li {
                            padding: 0 1.642857rem;
                            position: relative;
                            line-height: 1.9;

                            &:before {
                                content: "";
                                width: 0.5rem;
                                height: 0.5rem;
                                border-radius: 50%;
                                background-color: #138e55;
                                display: block;
                                position: absolute;
                                left: 0rem;
                                top: 0.5rem;
                            }
                        }
                    }
                }

                .acdrFooter {
                    padding: 0.714286rem;
                    text-align: center;
                    background: #138f54;
                    border: 2px solid #138f54;
                    color: #fff;
                    line-height: 1.3;
                    transition: background 0.3s ease, color 0.3s ease;

                    &:hover {
                        background: transparent;
                        color: $primary;
                    }
                }
            }
        }
    }
}

.grid-l1 {
    width: 100%;
    height: auto;
    overflow: hidden;

    .boxListing {
        padding: 0;

        &:not(:last-child) {
            border-bottom: 0.07142857rem solid #c0bfbe;
        }

        .box-acco {
            .listigHeader {
                width: 100%;
                text-align: left;
                cursor: pointer;
                margin: 0px !important;
                display: flex;
                align-items: center;
                padding-top: 0.7143rem;
                padding-bottom: 0.7143rem;
                padding-left: 2.357143rem;
                padding-right: 1.57143rem;
                justify-content: space-between;

                @media (max-width: 991px) {
                    padding-left: 1.0625rem;
                    flex-direction: column;
                    align-items: flex-start;
                    position: relative;
                }

                .compDetails {
                    display: flex;
                    align-items: center;

                    .shap {
                        width: 5.71429rem;
                        height: 5.71429rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: auto;
                        margin-right: 3.57143rem;

                        @media (max-width: 575px) {
                            width: 5.2857143rem;
                            height: 5.2857143rem;
                            margin-right: 1.57143rem;
                        }

                        img {
                            max-width: 100%;
                        }

                        /*&.step_1 {
                            background-color: #e84d3e;
                        }

                        &.step_2 {
                            background-color: #f38816;
                        }

                        &.step_3 {
                            background-color: #ffc24c;
                        }

                        &.step_4 {
                            background-color: #53c0ab;
                        }

                        &.step_5 {
                            background-color: #3a97d4;
                        }

                        &.step_6 {
                            background-color: #894b9e;
                        }

                        &.step_7 {
                            background-color: #cb386f;
                        }*/
                    }

                    strong {
                        font-size: 1.142857143rem;
                    }
                }

                .compContact {
                    .action {
                        width: 1.76rem;
                        height: 1.76rem;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: #138f54;
                        border-radius: 3.57143rem;
                        justify-content: center;

                        @media (max-width: 991px) {
                            position: absolute;
                            top: 2.2rem;
                            right: 1.6rem;
                            width: 2rem;
                            height: 2rem;
                        }

                        &::after,
                        &::before {
                            content: "";
                            position: absolute;
                            width: 50%;
                            height: 2px;
                            background-color: #fff;
                            transform-origin: center;
                            display: flex;
                            margin: auto;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }

                        &::before {
                            transform: rotate(90deg);
                        }

                        &::after {
                            transform: rotate(0deg);
                            top: 0rem;
                        }


                    }
                }
            }

            &.active {
                .action {
                    &::before {
                        transform: rotate(0deg) !important;
                    }
                }
            }

            .level-box {
                width: 100%;
                height: auto;
                overflow: hidden;
                display: none;

                &.open {
                    display: block;
                }

                @media (max-width: 991px) {}
            }
        }
    }
}