$primary: #138e55;
$secondary: #ffd27a;
$text-base: #737373;
$text-two: #515151;
$gray: #efeeec;
$font: "muli", sans-serif;
$font-light: "ITCAvantGardePro-Bk", sans-serif;
$font-bold: "ITCAvantGardePro-Bold", sans-serif;
