$primary: #138e55;
$secondary: #f9bd14;
/*$text-base: $text-base;*/
$text-base: #000;
$text-two: #000;
$gray: #efeeec;
$font: "muli", sans-serif;
$font-light: "ITCAvantGardePro-Bk", sans-serif;
$font-bold: "ITCAvantGardePro-Bold", sans-serif;
