@font-face {
  font-family: "ITCAvantGardePro-Bold";
  src: url("../fonts/ITCAvantGardePro-Bold.eot");
  src: url("../fonts/ITCAvantGardePro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardePro-Bold.ttf") format("truetype"), url("../fonts/ITCAvantGardePro-Bold.woff") format("woff"), url("../fonts/ITCAvantGardePro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ITCAvantGardePro-Md";
  src: url("../fonts/ITCAvantGardePro-Md.eot");
  src: url("../fonts/ITCAvantGardePro-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardePro-Md.ttf") format("truetype"), url("../fonts/ITCAvantGardePro-Md.woff") format("woff"), url("../fonts/ITCAvantGardePro-Md.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ITCAvantGardePro-Bk";
  src: url("../fonts/ITCAvantGardePro-Bk.otf");
  src: url("../fonts/ITCAvantGardePro-Bk.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardePro-Bk.ttf") format("truetype"), url("../fonts/ITCAvantGardePro-Bk.woff") format("woff"), url("../fonts/ITCAvantGardePro-Bk.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/*Start: Reset CSS*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
hr,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}

html[xmlns] .clearfix {
  display: block;
}

input:disabled {
  cursor: not-allowed;
}

html {
  height: 100%;
  overflow-y: auto;
  font-size: 14px;
}
@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 12px;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-size: 1rem;
  font-family: "muli", sans-serif;
  line-height: 1.2;
  background-size: 100% auto;
  /*padding: 70px 0 0;*/
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  font-size: 0.9rem;
  font-weight: 400;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-white {
  color: #fff !important;
}

.link {
  color: #138e55;
}

label {
  font-size: 0.75rem;
  line-height: 1.2z;
  margin-bottom: 10px;
  display: block;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

.align-self-auto {
  align-self: auto;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.col-6 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-6 {
  flex: 1 1 50%;
  width: 100%;
  max-width: 50%;
}

.btn {
  min-height: 52px;
  padding: 12px 22px;
  line-height: 1;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
.btn.btn-primary {
  background-color: #138e55;
  transform: scale(1);
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}
.btn.btn-primary:hover {
  background-color: #f9bd14;
  transform: scale(1.05);
}
.btn.btn-secondary {
  background-color: #f9bd14;
  color: #fff;
}
.btn.btn-lg {
  width: 150px;
  text-align: center;
  min-height: 38px;
}
@media (max-width: 575px) {
  .btn.btn-lg {
    width: 11.42857rem;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.2857143rem;
}
.title h4 {
  font-size: 1.57143rem;
  font-weight: 600;
  margin-bottom: 1.64286rem;
}
.title span {
  width: 3.57142857rem;
  height: 0.571429rem;
  background-color: #ffd27a;
}

.fadeUp {
  transform: translate(0, 100px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.fadeUp.animate {
  transform: translate(0, 0);
  opacity: 1;
}

.fadeDown {
  transform: translate(0, -100px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.fadeDown.animate {
  transform: translate(0, 0);
  opacity: 1;
}

.fadeIn {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fadeIn.animate {
  opacity: 1;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 8;
  background: rgba(51, 51, 51, 0.78);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 0.8s;
}

.comm_pop_container_blk {
  display: none;
  height: auto;
  background: #fff;
  position: fixed;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 700px;
  padding: 0px;
  border-radius: 5px;
}
.comm_pop_container_blk .panel {
  margin-bottom: 0;
  border-width: 0;
}
.comm_pop_container_blk .panel .panel-body {
  padding: 7.142857rem;
  color: #737373;
  font-size: 1rem;
}
@media (max-width: 767px) {
  .comm_pop_container_blk .panel .panel-body {
    padding: 4.4rem 1.4rem 1.4rem;
  }
}
.comm_pop_container_blk .panel .panel-body h4 {
  color: #515151;
  font-size: 1.7142857143rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.85714rem;
  font-weight: 600;
}
@media (max-width: 767px) {
  .comm_pop_container_blk .panel .panel-body h4 {
    padding-bottom: 1.85714rem;
  }
}
.comm_pop_container_blk .panel .panel-body h4:after {
  content: "";
  width: 50px;
  height: 8px;
  background-color: #ffd27a;
  display: block;
  margin-top: 2.85714rem;
}
@media (max-width: 767px) {
  .comm_pop_container_blk .panel .panel-body h4:after {
    margin-top: 1.85714rem;
  }
}
.comm_pop_container_blk .panel .panel-body .teamMembDetails {
  max-height: 350px;
  overflow-y: auto;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .comm_pop_container_blk .panel .panel-body .teamMembDetails {
    max-height: 70vh;
  }
}
.comm_pop_container_blk .panel .panel-body .teamMembDetails p {
  line-height: 1.5;
  margin-bottom: 10px;
}

.close_btn {
  position: absolute;
  width: 1.42857rem;
  height: 1.42857rem;
  display: block;
  right: 2.142857rem;
  top: 2.142857rem;
  z-index: 2;
}
.close_btn:before, .close_btn:after {
  content: "";
  position: absolute;
  height: 0.142857rem;
  width: 1.42857rem;
  background: #33322a;
}
.close_btn:before {
  transform: rotate(45deg);
  top: 0.642857rem;
  left: 0;
}
.close_btn:after {
  transform: rotate(-45deg);
  top: 0.642857rem;
  right: 0px;
}

.open_modal {
  cursor: pointer;
}

header {
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
@media (max-width: 991px) {
  header {
    z-index: 1;
  }
}
header .topHeader {
  background-color: #ffffff;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0px 1px 9px 2px #b8bfc3;
}
header .topHeader .leftHeader {
  display: flex;
  align-items: center;
}
header .topHeader .rightHeader {
  /*width: calc(100% - 167px);*/
  width: auto;
  display: flex;
  align-items: center;
}
header .topHeader .rightHeader nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
}
@media (max-width: 991px) {
  header .topHeader .rightHeader nav {
    position: absolute;
    background: #fff;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    flex-direction: column;
    padding-left: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  header .topHeader .rightHeader nav:not(.open) {
    display: none;
  }
}
header .topHeader .rightHeader nav .nav_blk {
  display: flex;
}
@media (max-width: 991px) {
  header .topHeader .rightHeader nav .nav_blk {
    flex-direction: column;
    width: 100%;
  }
}
header .topHeader .rightHeader nav .nav_blk > li {
  position: relative;
}
header .topHeader .rightHeader nav .nav_blk > li a {
  display: block;
  padding: 2rem 1.7143rem;
  /*border-bottom: 4px solid transparent;*/
  text-decoration: none;
  color: #515151;
  font-size: 1.143rem;
  font-weight: 600;
  position: relative;
}
@media (max-width: 1180px) {
  header .topHeader .rightHeader nav .nav_blk > li a {
    padding: 2.2rem 1rem;
  }
}
@media (max-width: 991px) {
  header .topHeader .rightHeader nav .nav_blk > li a {
    padding: 1rem;
    text-align: center;
    width: auto;
    display: inline-block;
    font-size: 1.2rem;
    /* margin: 0 0 0 20px; */
  }
}
header .topHeader .rightHeader nav .nav_blk > li a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0;
  background: #f9bd14;
  height: 4px;
  display: inline-block;
  transform: translate(-50%, 0);
  transition: width 0.3s ease;
}
@media (max-width: 991px) {
  header .topHeader .rightHeader nav .nav_blk > li a:after {
    position: relative;
    left: unset;
    width: 5px;
    transform: translate(0, 0) rotate(135deg);
    bottom: unset;
    display: inline-block;
    height: 5px;
    background: none;
    border: 2px solid #f9bd14;
    border-color: #f9bd14 #f9bd14 transparent transparent;
    margin: 0 0 0 10px;
    top: -2px;
  }
}
header .topHeader .rightHeader nav .nav_blk > li a.active:after, header .topHeader .rightHeader nav .nav_blk > li a:hover:after {
  width: 100%;
}
@media (max-width: 991px) {
  header .topHeader .rightHeader nav .nav_blk > li a.active:after, header .topHeader .rightHeader nav .nav_blk > li a:hover:after {
    width: 5px;
  }
}
header .topHeader .rightHeader nav .nav_blk > li:hover a {
  /*border-color: $secondary;*/
}
header .topHeader .rightHeader nav .nav_blk > li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 200%;
  padding: 0;
  /*height: 0;*/
  overflow: hidden;
  display: none;
}
@media (max-width: 991px) {
  header .topHeader .rightHeader nav .nav_blk > li ul {
    position: relative;
    top: unset;
    margin: 0 0 0 20px;
    padding: 0 0 20px;
    display: block;
    height: auto;
  }
}
header .topHeader .rightHeader nav .nav_blk > li ul a {
  padding: 1rem 1.7143rem;
  display: inline-block;
}
header .topHeader .rightHeader nav .nav_blk > li ul a:after {
  width: 50px;
  left: unset;
  transform: translate(0, 0);
  position: relative;
  display: block;
  height: 2px;
  margin: 4px 0 0;
}
@media (max-width: 991px) {
  header .topHeader .rightHeader nav .nav_blk > li ul a:after {
    border: none;
    background: #f9bd14;
  }
}
header .topHeader .rightHeader nav .nav_blk > li ul a:hover:after {
  width: 100%;
}
header .topHeader .rightHeader nav .nav_blk > li:nth-child(2) ul {
  width: 150%;
}
@media (max-width: 991px) {
  header .topHeader .rightHeader nav .nav_blk > li:nth-child(2) ul {
    width: 100%;
  }
}
@media (max-width: 991px) {
  header .topHeader .rightHeader nav .nav_blk > li:nth-child(3) a:after, header .topHeader .rightHeader nav .nav_blk > li:nth-child(4) a:after {
    display: none;
  }
}
header .topHeader .rightHeader nav .socialNav_blk {
  display: flex;
  display: none;
}
@media (max-width: 991px) {
  header .topHeader .rightHeader nav .socialNav_blk {
    justify-content: center;
  }
}
header .topHeader .rightHeader nav .socialNav_blk > li {
  padding: 0 5px;
}
header .topHeader .rightHeader nav .socialNav_blk > li a {
  display: block;
  line-height: 1;
}
header .topHeader .rightHeader .hamburgar {
  width: 30px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
  flex-direction: column;
  display: none;
  position: relative;
}
@media (max-width: 991px) {
  header .topHeader .rightHeader .hamburgar {
    display: flex;
  }
}
header .topHeader .rightHeader .hamburgar span {
  height: 2px;
  width: 100%;
  background-color: #000;
  /* margin: 3px 0; */
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  transition: transform 0.3s ease, opacity 0.2s ease, top 0.3s ease, left 0.3s ease;
}
header .topHeader .rightHeader .hamburgar span:first-child {
  top: 0;
}
header .topHeader .rightHeader .hamburgar span:last-child {
  top: calc(100% - 2px);
}
header .topHeader .rightHeader .hamburgar.open span:nth-child(2) {
  opacity: 0;
}
header .topHeader .rightHeader .hamburgar.open span:nth-child(1), header .topHeader .rightHeader .hamburgar.open span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
header .topHeader .rightHeader .hamburgar.open span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
header .logo {
  display: flex;
  justify-content: flex-end;
}
header .logo img {
  max-width: 100%;
}

footer .topFooter {
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px solid #ccc;
  width: 100%;
  margin: auto;
  line-height: 1.2;
  font-size: 0.92857143rem;
  color: #999999;
}
@media (max-width: 575px) {
  footer .topFooter {
    text-align: center;
  }
  footer .topFooter span {
    display: block;
    width: 100%;
    padding-top: 10px;
  }
}
footer .topFooter a {
  font-size: 1rem;
  color: #515151;
  padding: 0 8px;
  font-weight: 600;
}
footer .topFooter a:hover {
  color: #138e55;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  background: transparent;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}

.jspHorizontalBar {
  background: transparent;
  bottom: 0;
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
  display: none;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: transparent;
  position: relative;
}

.jspTrack::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  display: block;
  background: #c4c4c4;
  margin-left: 4px;
}

.jspDrag {
  background: #232323;
  cursor: pointer;
  left: 0;
  position: relative;
  top: 0;
  border-radius: 10px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  background: #50506d;
  cursor: pointer;
  direction: ltr;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -20000px;
}

.jspDisabled {
  background: #80808d;
  cursor: default;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  float: left;
  height: 100%;
  width: 16px;
}

.jspVerticalBar .jspArrow:focus {
  border: 1px solid red;
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

.homeBanner {
  background: #b9c0c4;
  background: linear-gradient(180deg, #b9c0c4 0%, white 100%);
}
.homeBanner .gradBanner {
  background-image: url(../images/banner_01.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 70vw;
}
@media (max-width: 767px) {
  .homeBanner .gradBanner {
    background-position: center top;
  }
}
@media (max-width: 575px) {
  .homeBanner .gradBanner {
    background-position: center top;
    background-image: url(../images/banner_mob_01.png);
    background-size: 100%;
  }
}
@media (min-width: 1370px) {
  .homeBanner .gradBanner {
    background-size: contain;
  }
}
.homeBanner .gradBanner .bannerContent {
  width: 100%;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-top: 12.857rem;
  padding-bottom: 12.857rem;
}
@media (max-width: 767px) {
  .homeBanner .gradBanner .bannerContent {
    max-width: 100%;
    padding-bottom: 2rem;
    padding-top: 40vw;
  }
}
@media (max-width: 575px) {
  .homeBanner .gradBanner .bannerContent {
    padding-top: 74vw;
    text-align: center;
  }
}
.homeBanner .gradBanner .bannerContent h3 {
  color: #138e55;
  font-size: 1.4286rem;
  font-weight: 600;
  margin-bottom: 1.4286rem;
}
.homeBanner .gradBanner .bannerContent p {
  color: #515151;
  font-size: 1.1429rem;
}
.homeBanner .marqueeSec {
  background-color: #efeeed;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.homeBanner .marqueeSec span {
  font-size: 1.14286rem;
  color: #737373;
  line-height: 1;
  padding-left: 1.5rem;
}
@media (max-width: 575px) {
  .homeBanner .marqueeSec span {
    padding-left: 0.5rem;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .homeBanner .marqueeSec img {
    display: none;
  }
}

.whatWeDo .whatWeDo_blk {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  background-image: url(../images/element_001.png);
  background-repeat: no-repeat;
  background-position: -37px -65px;
}
@media (max-width: 575px) {
  .whatWeDo .whatWeDo_blk {
    background-size: 35vw;
    background-position: -6vw -11vw;
  }
}
.whatWeDo .whatWeDo_blk h6 {
  font-size: 1.142857rem;
  text-align: center;
  padding-left: 10.71429rem;
  padding-right: 10.71429rem;
}
@media (max-width: 768px) {
  .whatWeDo .whatWeDo_blk h6 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.whatWeDo .whatWeDo_blk .whatWeDoAction {
  display: flex;
}
.whatWeDo .whatWeDo_blk .whatWeDoAction .wwdCol {
  width: 50%;
  border-bottom: 1px solid #cccccc;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 20px;
  margin-top: 40px;
}
.whatWeDo .whatWeDo_blk .whatWeDoAction .wwdCol:first-child {
  border-right: 1px solid #cccccc;
}
.whatWeDo .whatWeDo_blk .whatWeDoAction .wwdCol:first-child .btn {
  margin-left: auto;
  float: right;
}

.ourExpertise {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.ourExpertise .expertiesRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1199px) {
  .ourExpertise .expertiesRow .ailments {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .ourExpertise .expertiesRow .ailments {
    margin-bottom: 30px;
  }
  .ourExpertise .expertiesRow .ailments ul.tree:before {
    width: calc(100% - 106px);
  }
  .ourExpertise .expertiesRow .ailments ul.tree li {
    width: 106px;
  }
}
.ourExpertise .expertiesRow h6 {
  text-align: center;
  font-size: 1.2857142rem;
  color: #515151;
  font-weight: 600;
}
.ourExpertise .expertiesRow ul.tree {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
  margin-top: 20px;
  position: relative;
}
.ourExpertise .expertiesRow ul.tree:before {
  content: "";
  width: calc(100% - 10.1rem);
  height: 1px;
  display: flex;
  left: 0;
  margin: 0 auto;
  border-top: 1px solid #cccccc;
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 767px) {
  .ourExpertise .expertiesRow ul.tree:before {
    width: calc(100% - 132px);
  }
}
@media (max-width: 575px) {
  .ourExpertise .expertiesRow ul.tree:before {
    width: calc(100% - 86px);
  }
}
.ourExpertise .expertiesRow ul.tree li {
  padding-left: 1.42857rem;
  padding-right: 1.42857rem;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  /*&.step_1 {
      .shap {
          background-color: #e84d3e;
      }
  }

  &.step_2 {
      .shap {
          background-color: #f38816;
      }
  }

  &.step_3 {
      .shap {
          background-color: #ffc24c;
      }
  }

  &.step_4 {
      .shap {
          background-color: #53c0ab;
      }
  }

  &.step_5 {
      .shap {
          background-color: #3a97d4;
      }
  }

  &.step_6 {
      .shap {
          background-color: #894b9e;
      }
  }

  &.step_7 {
      .shap {
          background-color: #cb386f;
      }
  }*/
}
@media (max-width: 575px) {
  .ourExpertise .expertiesRow ul.tree li {
    padding-left: 0.83333rem;
    padding-right: 0.83333rem;
  }
}
.ourExpertise .expertiesRow ul.tree li:before {
  content: "";
  width: 1px;
  height: 20px;
  display: flex;
  left: 0;
  margin: 0 auto;
  background-color: #cccccc;
  position: absolute;
  right: 0;
  top: 0px;
}
.ourExpertise .expertiesRow ul.tree li .shap {
  width: 7.2857143rem;
  height: 7.2857143rem;
  /*background: #008;*/
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.7857142857rem;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1);
  transition: transform 0.3s ease;
}
@media (max-width: 575px) {
  .ourExpertise .expertiesRow ul.tree li .shap {
    width: 5.2857143rem;
    height: 5.2857143rem;
  }
}
.ourExpertise .expertiesRow ul.tree li .shap img {
  /*max-width: 50%;*/
  width: 100%;
}
.ourExpertise .expertiesRow ul.tree li .shap:hover {
  transform: scale(1.05);
}
.ourExpertise .expertiesRow ul.tree li a {
  color: #515151;
}
.ourExpertise .expertiesRow ul.tree li a:hover {
  color: #138e55;
}
.ourExpertise .expertiesRow ul.tree li span {
  font-weight: 600;
}

.ourPhilosophy {
  padding-top: 1.42857rem;
  padding-bottom: 1.42857rem;
}
.ourPhilosophy .ourPhilosophyCont {
  color: #737373;
}
.ourPhilosophy .ourPhilosophyCont > div:first-child {
  font-size: 1.4rem;
}
.ourPhilosophy .ourPhilosophyCont > div:first-child i {
  color: #f9bd14;
}
.ourPhilosophy .ourPhilosophyCont i {
  font-weight: 600;
}
.ourPhilosophy .ourPhilosophyCont p {
  color: #737373;
  margin-bottom: 1.7857143rem;
}
.ourPhilosophy .ourPhilosophyCont ul {
  padding-left: 1.92857rem;
}
.ourPhilosophy .ourPhilosophyCont ul li {
  position: relative;
  line-height: 1.4;
  margin-bottom: 0.7142857rem;
  color: #737373;
}
.ourPhilosophy .ourPhilosophyCont ul li:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #138e55;
  display: block;
  position: absolute;
  left: -1.7857143rem;
  top: 4px;
}
@media (max-width: 991px) {
  .ourPhilosophy .ourPhilosophyCont .row {
    flex-wrap: wrap;
  }
  .ourPhilosophy .ourPhilosophyCont .row .col-6 {
    max-width: 100%;
    flex: 1 1 100%;
  }
  .ourPhilosophy .ourPhilosophyCont .w-50 {
    width: 100%;
  }
}

.ourMission {
  background-color: #138e55;
  padding-left: 1.07143rem;
  padding-right: 1.07143rem;
}
@media (max-width: 991px) {
  .ourMission .row {
    flex-wrap: wrap;
  }
}
.ourMission .ourMissionImgSec {
  width: 50%;
  min-width: 50%;
}
@media (max-width: 991px) {
  .ourMission .ourMissionImgSec {
    width: 100%;
  }
}
.ourMission .ourMissionImgSec img {
  display: block;
}
.ourMission .ourMissionContSec {
  width: 50%;
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .ourMission .ourMissionContSec {
    width: 100%;
  }
}
.ourMission .ourMissionContSec .missContainer {
  width: 100%;
  max-width: 462px;
  color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem 1.07143rem;
}
.ourMission .ourMissionContSec .missContainer strong {
  font-size: 1.57143rem;
  font-style: italic;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.ourMission .ourMissionContSec .missContainer p {
  line-height: 1.5;
}
.ourMission .ourMissionContSec .missContainer p span {
  font-weight: 600;
  display: block;
}

.ourTeam {
  padding-top: 4.2857142rem;
  padding-bottom: 4.2857142rem;
}
.ourTeam .teamContainer .row {
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .ourTeam .teamContainer .row {
    justify-content: center;
  }
  .ourTeam .teamContainer .row .col-6 {
    max-width: 28.5714285714rem;
    flex: 1 1 100%;
  }
}
.ourTeam .teamContainer .teamMember {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.42857rem;
  margin-bottom: 1.42857rem;
}
.ourTeam .teamContainer .teamMember .memberImg {
  width: 13rem;
  height: 13rem;
  margin: auto;
}
.ourTeam .teamContainer .teamMember .memberImg img {
  max-width: 100%;
}
.ourTeam .teamContainer .teamMember .memberName {
  padding: 2.142857rem 0;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.ourTeam .teamContainer .teamMember .memberName span {
  width: 3.57142857rem;
  height: 0.142857rem;
  background: #ffd27a;
  margin: auto;
  margin-top: 2rem;
}
.ourTeam .teamContainer .teamMember .memberInfo p {
  line-height: 1.3;
}
.ourTeam .teamContainer .teamMember .memberInfo p strong {
  padding-top: 5px;
  display: block;
  cursor: pointer;
  color: #138e55;
  transition: color 0.3s ease;
}
.ourTeam .teamContainer .teamMember .memberInfo p strong:hover {
  color: #f9bd14;
}

.theBeginning {
  background-color: #efeeed;
  padding-top: 5rem;
  padding-bottom: 3.57142857rem;
  position: relative;
  border-top: 1px solid #cccccc;
  color: #737373;
}
.theBeginning .topImg {
  position: absolute;
  top: -3.142857rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}
.theBeginning .theBeginning_blk {
  display: flex;
  flex-direction: column;
}
.theBeginning .theBeginning_blk > strong {
  padding: 2.142857rem 0;
  text-align: center;
}
.theBeginning .theBeginning_blk p {
  margin-bottom: 1.7857143rem;
  line-height: 1.5;
}
.theBeginning .theBeginning_blk .continueReading {
  text-align: center;
}
.theBeginning .theBeginning_blk .continueReading strong {
  color: #138e55;
  transition: color 0.3s ease;
}
.theBeginning .theBeginning_blk .continueReading strong:hover {
  color: #f9bd14;
}

.ourExpertiseSec {
  overflow: hidden;
  padding-top: 3rem;
}
@media (max-width: 768px) {
  .ourExpertiseSec {
    padding-top: 5rem;
  }
}
.ourExpertiseSec .title img {
  position: absolute;
  left: 5%;
  top: -4.57143rem;
}
@media (max-width: 768px) {
  .ourExpertiseSec .title img {
    top: -5.77143rem;
    width: 8rem;
  }
}
.ourExpertiseSec .title h4 {
  margin-bottom: 0.7143rem;
  color: #515151;
}
.ourExpertiseSec .container {
  position: relative;
}
.ourExpertiseSec .ourExpertiseCont {
  padding-left: 6.42857rem;
  padding-right: 6.42857rem;
  color: #737373;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .ourExpertiseSec .ourExpertiseCont {
    padding-left: 1.42857rem;
    padding-right: 1.42857rem;
  }
}
@media (max-width: 575px) {
  .ourExpertiseSec .ourExpertiseCont {
    padding-left: 0;
    padding-right: 0;
  }
}
.ourExpertiseSec .accordianSec {
  border-top: 0.142857rem solid #515151;
  border-bottom: 0.142857rem solid #515151;
  margin-bottom: 4.2857rem;
}
.ourExpertiseSec .accordianSec .accordianHeader {
  background: #ededed;
  color: #515151;
  padding: 2.57143rem 2.2857rem;
}
.ourExpertiseSec .accordianSec .accordianData {
  padding-left: 11.7857rem;
  display: flex;
  color: #737373;
  padding-bottom: 3.57143rem;
}
@media (max-width: 991px) {
  .ourExpertiseSec .accordianSec .accordianData {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .ourExpertiseSec .accordianSec .accordianData {
    flex-direction: column;
  }
}
.ourExpertiseSec .accordianSec .accordianData .acdLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 50%;
  position: relative;
}
@media (max-width: 768px) {
  .ourExpertiseSec .accordianSec .accordianData .acdLeft {
    width: 100%;
  }
}
.ourExpertiseSec .accordianSec .accordianData .acdLeft:before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 3.57142857rem;
  height: 0.571429rem;
  background-color: #ffd27a;
}
@media (max-width: 991px) {
  .ourExpertiseSec .accordianSec .accordianData .acdLeft:before {
    display: none;
  }
}
.ourExpertiseSec .accordianSec .accordianData .acdLeft ul {
  display: flex;
  padding: 2.14286rem 0;
  border-bottom: 0.07142857rem solid #138f54;
  margin-bottom: 2.2857rem;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .ourExpertiseSec .accordianSec .accordianData .acdLeft ul {
    padding: 1.54286rem 0;
  }
}
.ourExpertiseSec .accordianSec .accordianData .acdLeft ul li {
  padding: 0 1.642857rem;
  position: relative;
  margin: 0 0 10px;
  width: auto;
}
@media (max-width: 991px) {
  .ourExpertiseSec .accordianSec .accordianData .acdLeft ul li {
    padding: 0 1.142857rem;
  }
}
.ourExpertiseSec .accordianSec .accordianData .acdLeft ul li:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #138e55;
  display: block;
  position: absolute;
  left: 0rem;
  top: 0.142857rem;
}
.ourExpertiseSec .accordianSec .accordianData .acdLeft p {
  margin-bottom: 2.142857rem;
  line-height: 1.4;
}
.ourExpertiseSec .accordianSec .accordianData .acdLeft .continueReading {
  text-align: center;
}
.ourExpertiseSec .accordianSec .accordianData .acdLeft .continueReading strong {
  color: #138e55;
}
.ourExpertiseSec .accordianSec .accordianData .acdRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 50%;
  padding-left: 1.57143rem;
}
@media (max-width: 768px) {
  .ourExpertiseSec .accordianSec .accordianData .acdRight {
    width: 100%;
    padding-left: 0;
    padding-top: 10px;
  }
}
.ourExpertiseSec .accordianSec .accordianData .acdRight p {
  line-height: 1.4;
}
.ourExpertiseSec .accordianSec .accordianData .acdRight .acdrHeader {
  border-top: 0.142857rem solid #ffd27a;
  border-bottom: 0.07142857rem solid #138f54;
  padding-top: 1.7143rem;
  padding-bottom: 1.7143rem;
  text-align: center;
  margin-top: 1.2857rem;
  background-color: #fffaf0;
}
@media (max-width: 991px) {
  .ourExpertiseSec .accordianSec .accordianData .acdRight .acdrHeader {
    margin-top: 0;
    padding-top: 1.5143rem;
    padding-bottom: 1.5143rem;
  }
}
.ourExpertiseSec .accordianSec .accordianData .acdRight .acdrContent {
  padding-top: 2.2857rem;
  padding-bottom: 1.7143rem;
  padding-left: 1.2857rem;
  padding-right: 1.2857rem;
  background-color: #fffaf0;
}
.ourExpertiseSec .accordianSec .accordianData .acdRight .acdrContent ul {
  margin-top: 1.07143rem;
}
.ourExpertiseSec .accordianSec .accordianData .acdRight .acdrContent ul li {
  padding: 0 1.642857rem;
  position: relative;
  line-height: 1.9;
}
.ourExpertiseSec .accordianSec .accordianData .acdRight .acdrContent ul li:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #138e55;
  display: block;
  position: absolute;
  left: 0rem;
  top: 0.5rem;
}
.ourExpertiseSec .accordianSec .accordianData .acdRight .acdrFooter {
  padding: 0.714286rem;
  text-align: center;
  background-color: #138f54;
  color: #fff;
  line-height: 1.3;
}

.grid-l1 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.grid-l1 .boxListing {
  padding: 0;
}
.grid-l1 .boxListing:not(:last-child) {
  border-bottom: 0.07142857rem solid #c0bfbe;
}
.grid-l1 .boxListing .box-acco .listigHeader {
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin: 0px !important;
  display: flex;
  align-items: center;
  padding-top: 0.7143rem;
  padding-bottom: 0.7143rem;
  padding-left: 2.357143rem;
  padding-right: 1.57143rem;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .grid-l1 .boxListing .box-acco .listigHeader {
    padding-left: 1.0625rem;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
}
.grid-l1 .boxListing .box-acco .listigHeader .compDetails {
  display: flex;
  align-items: center;
}
.grid-l1 .boxListing .box-acco .listigHeader .compDetails .shap {
  width: 5.71429rem;
  height: 5.71429rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 3.57143rem;
  /*&.step_1 {
      background-color: #e84d3e;
  }

  &.step_2 {
      background-color: #f38816;
  }

  &.step_3 {
      background-color: #ffc24c;
  }

  &.step_4 {
      background-color: #53c0ab;
  }

  &.step_5 {
      background-color: #3a97d4;
  }

  &.step_6 {
      background-color: #894b9e;
  }

  &.step_7 {
      background-color: #cb386f;
  }*/
}
@media (max-width: 575px) {
  .grid-l1 .boxListing .box-acco .listigHeader .compDetails .shap {
    width: 5.2857143rem;
    height: 5.2857143rem;
    margin-right: 1.57143rem;
  }
}
.grid-l1 .boxListing .box-acco .listigHeader .compDetails .shap img {
  max-width: 100%;
}
.grid-l1 .boxListing .box-acco .listigHeader .compDetails strong {
  font-size: 1.142857143rem;
}
.grid-l1 .boxListing .box-acco .listigHeader .compContact .action {
  width: 1.76rem;
  height: 1.76rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #138f54;
  border-radius: 3.57143rem;
  justify-content: center;
}
@media (max-width: 991px) {
  .grid-l1 .boxListing .box-acco .listigHeader .compContact .action {
    position: absolute;
    top: 2.2rem;
    right: 1.6rem;
    width: 2rem;
    height: 2rem;
  }
}
.grid-l1 .boxListing .box-acco .listigHeader .compContact .action::after, .grid-l1 .boxListing .box-acco .listigHeader .compContact .action::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #fff;
  transform-origin: center;
  display: flex;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.grid-l1 .boxListing .box-acco .listigHeader .compContact .action::before {
  transform: rotate(90deg);
}
.grid-l1 .boxListing .box-acco .listigHeader .compContact .action::after {
  transform: rotate(0deg);
  top: 0rem;
}
.grid-l1 .boxListing .box-acco.active .action::before {
  transform: rotate(0deg) !important;
}
.grid-l1 .boxListing .box-acco .level-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: none;
}
.grid-l1 .boxListing .box-acco .level-box.open {
  display: block;
}
.ourApproach .ourApproachCont {
  padding-top: 3.7857rem;
  padding-bottom: 1.7857rem;
  color: #737373;
  background-image: url(../images/OurApproach.png);
  background-repeat: no-repeat;
  background-position: left top;
}
@media (max-width: 575px) {
  .ourApproach .ourApproachCont {
    background-size: 23vw;
  }
}
.ourApproach .ourApproachCont i {
  font-weight: 600;
}
.ourApproach .ourApproachCont p {
  color: #737373;
  margin-bottom: 1.7857143rem;
  line-height: 1.4;
}
.ourApproach .ourApproachCont .subTitleSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.ourApproach .ourApproachCont .subTitleSec .subTitle h4 {
  font-size: 1.142857rem;
  font-weight: 600;
  margin-bottom: 1.64286rem;
}
.ourApproach .ourApproachCont .subTitleSec .subTitle span {
  width: 3.57142857rem;
  height: 0.571429rem;
  display: flex;
  background-color: #ffd27a;
}
.ourApproach .ourApproachCont img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .ourApproach .ourApproachCont .row {
    flex-wrap: wrap;
  }
  .ourApproach .ourApproachCont .row .col-6 {
    max-width: 100%;
    flex: 1 1 100%;
  }
  .ourApproach .ourApproachCont .w-50 {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .ourApproach .ourApproachCont .title h4 {
    margin-bottom: 0.64286rem;
  }
}

.contactUs {
  padding-top: 1.42857rem;
  color: #737373;
}
@media (max-width: 991px) {
  .contactUs .contactUsCont .w-50 {
    width: 100%;
  }
}

.contactUsDetails_Sec {
  padding-top: 0.571428rem;
  padding-bottom: 3.1428571429rem;
  color: #737373;
}
.contactUsDetails_Sec .contactUsDetails .border-right {
  border-right: 1px solid #ccc;
}
@media (max-width: 768px) {
  .contactUsDetails_Sec .contactUsDetails .border-right {
    border: 0;
  }
}
.contactUsDetails_Sec .contactUsDetails .contactAddress {
  max-width: 18.57rem;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 766px) {
  .contactUsDetails_Sec .contactUsDetails .contactAddress {
    max-width: none;
  }
}
.contactUsDetails_Sec .contactUsDetails .contactAddress h6 {
  font-weight: 600;
  font-size: 1.142857rem;
  color: #515151;
  padding-bottom: 0.5rem;
  padding-top: 2.1428571429rem;
}
.contactUsDetails_Sec .contactUsDetails .contactAddress p {
  margin-bottom: 0;
  padding-bottom: 2.1428571429rem;
}
.contactUsDetails_Sec .contactUsDetails .contactAddress p a {
  color: #515151;
}
.contactUsDetails_Sec .contactUsDetails .contactAddress .line {
  width: 3.5714rem;
  height: 2px;
  background-color: #ffd27a;
  display: block;
  margin: auto;
}
.contactUsDetails_Sec .contactUsDetails .contectUsForm_sec {
  max-width: 306px;
  width: 100%;
  margin: auto;
}
@media (max-width: 766px) {
  .contactUsDetails_Sec .contactUsDetails .contectUsForm_sec {
    max-width: none;
  }
}
.contactUsDetails_Sec .contactUsDetails .contectUsForm_sec h6 {
  font-weight: 600;
  font-size: 1.142857rem;
  color: #515151;
  padding-bottom: 2.1428571429rem;
  text-align: center;
}
@media (max-width: 768px) {
  .contactUsDetails_Sec .contactUsDetails .contectUsForm_sec h6 {
    padding-top: 2.1428571429rem;
  }
}
.contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm .fromGroup {
  margin-bottom: 1.2857rem;
}
.contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm .fromGroup .form_control {
  min-height: 32px;
  border: 1px solid #cac8c8;
  border-radius: 0.35714rem;
  width: 100%;
  padding: 0.35714rem 0.7142857rem;
}
.contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm .fromGroup .form_control.error::placeholder {
  color: red;
}
.contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm .fromGroup textarea.form_control {
  height: 84px;
}
.contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm .fromGroup textarea.form_control.error {
  color: red;
}
.contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm .fromGroup label {
  padding-top: 7px;
  margin-bottom: 0;
  color: red;
}
@media (max-width: 765px) {
  .contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm .inputGroup .inputform_control:first-child .form_control {
    margin-bottom: 1.2857rem;
  }
}
@media (min-width: 766px) {
  .contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm .inputGroup {
    display: flex;
  }
  .contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm .inputGroup .inputform_control:first-child .form_control {
    border-radius: 0.35714rem 0 0 0.35714rem;
    border-right: 0;
  }
  .contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm .inputGroup .inputform_control:last-child .form_control {
    border-radius: 0 0.35714rem 0.35714rem 0;
  }
}
.contactUsDetails_Sec .contactUsDetails .contectUsForm_sec .contectUsForm button {
  width: 150px;
  height: 38px;
  background-color: #138f54;
  border-radius: 0.35714rem;
  margin: 0 auto;
  color: #fff;
  text-transform: capitalize;
  display: block;
  cursor: pointer;
}
@media (max-width: 768px) {
  .contactUsDetails_Sec .contactUsDetails .row {
    flex-wrap: wrap;
  }
  .contactUsDetails_Sec .contactUsDetails .col-6 {
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
  }
}

.contectUsSucess {
  display: none;
}